@page "/about"
@using DiLaEmp.Localization
@inject IStringLocalizer<CultureDiLaEmp> Loc

<PageTitle>@Loc["About"]</PageTitle>

<p>@Loc["AboutCreatedBy"]</p>
<p>@Loc["AboutEnhancemenets"]</p>

@code {
    
}