@page "/"
@using DiLaEmp.Localization
@inject IStringLocalizer<CultureDiLaEmp> Loc

<PageTitle>@Loc["Home"]</PageTitle>

<h1>@Loc["HomePage"]</h1>

<p>@Loc["HomeExplanation"]</p>
<p>@Loc["HomeSaveWarning"]</p>

@code {
    
}
