@using DiLaEmp.Localization

<div class="input-group" id="dateWrapper" style="color: black !important; opacity: 1;">
    <RadzenDatePicker @bind-Value=@RadzenDate Name="RadzenDatePickerBindValue" ShowCalendarWeek
                        DateFormat="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern" 
                        Change="OnDateChange"
                        Disabled="@SetDisabled"
                        InputAttributes="@(SetDisabled ? 
                                    new Dictionary<string, object>() { { 
                                            "style", "color: black; font-weight: bold;" 
                                    } } : new Dictionary<string, object>()
                                        )" />
</div>

@code {
    [Parameter]
    public DateOnly Date
    {
        get;
        set{ 
            field = value; 
            SetRadzenDate(value); 
        }
    }

    [Parameter]
    public bool SetDisabled { get; set; }

    private DateTime? RadzenDate;
    private void OnDateChange(DateTime? args)
    {
        Date = DateOnly.FromDateTime(args ?? DateTime.MinValue);
    }
    private void SetRadzenDate(DateOnly value)
    {
        Console.WriteLine($"Date set to {value}");
        RadzenDate = value.ToDateTime(TimeOnly.MinValue);
    }
}