@using DiLaEmp.Localization

<div class="input-group" id="dateWrapper" style="color: black !important; opacity: 1;">
    <RadzenDatePicker @bind-Value=@RadzenDate Name="RadzenDatePickerBindValue" ShowCalendarWeek
                        DateFormat="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern" 
                        Change="OnDateChange"
                        Disabled="@SetDisabled"
                        InputAttributes="@(SetDisabled ? 
                                    new Dictionary<string, object>() { { 
                                            "style", "color: black; font-weight: bold;" 
                                    } } : new Dictionary<string, object>()
                                        )" />
</div>

@code {
    [Parameter]
    public DateOnly Date{ get; set; }

    [Parameter]
    public EventCallback<DateOnly> DateChanged { get; set; }

    [Parameter]
    public bool SetDisabled { get; set; }

    private DateTime? RadzenDate;
    private async Task OnDateChange(DateTime? args)
    {
        Date = DateOnly.FromDateTime(args ?? DateTime.MinValue);
        await DateChanged.InvokeAsync(Date);
    }
    protected override void OnParametersSet()
    {
        RadzenDate = Date.ToDateTime(TimeOnly.MinValue);
    }
}